@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


* {margin : 0; padding: 0; box-sizing: border-box;}

body {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-animation: fadein 1s;
}

::-webkit-scrollbar {
    display: none;
}
h6{
    margin-top: 30px;
    color: white;
    font-size: 10px;
    letter-spacing: 0px;
    font-weight: normal;
    text-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
    font-family: 'GmarketSansMedium', sans-serif;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s ease;
}

h1 {
    color: white;
    font-size:60px;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
    font-family: 'GmarketSansBold', sans-serif;
    background: linear-gradient(to right, #7f00ff, #e100ff, #7f00ff, #e100ff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s ease;
    animation: Gradients 5s infinite;
    animation-direction: initial;
}

@-webkit-keyframes Gradients {
    0%{background-position:left}
    100%{background-position:right}
}

.box input[type = "text"]{
    font-family: 'GmarketSansMedium', sans-serif;
    display: block;
    margin: 30px auto;
    text-align: center;
    font-size: 15px;
    border: 2px solid transparent;
    background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to right, #7f00ff, #e100ff, #7f00ff) border-box;
    transition: 0.6s ease;
    background-size: 200%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
    padding: 14px 10px;
    width: 270px;
    height: 50px;
    outline: none;
    border-radius: 999px
}

.box input[type = "text"]:focus{
    background-position: right;

}

input::placeholder{
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 15px;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box button{
    font-family: 'GmarketSansMedium', sans-serif;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    letter-spacing: 2px;
    font-size: 13px;
    color: white;
    background: linear-gradient(to right, #7f00ff, #e100ff, #7f00ff);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
    padding: 14px 10px;
    width: 200px;
    height: 40px;
    outline: none;
    border-radius: 999px;
    transition: 0.6s ease;
    background-size:200%
}

.box button:hover {
    background-position: right;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a{
    font-family: 'GmarketSansLight', sans-serif;
    font-size: 15px;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.caption img{
    margin-top: 10px;
    width: 8%;
}

footer{
    margin-top: 30px;
    font-family: 'GmarketSansLight', sans-serif;
    font-size: 5px;
    color: #cdcdcd;
}